In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from scipy.stats import zscore
from sklearn.preprocessing import power_transform
# from statsmodels.tsa.stattools import adfuller
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.feature_selection import SelectKBest, mutual_info_classif
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
import pickle

# Data Loading

Source:
    https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather

In [2]:
weather_pred=pd.read_csv('weather_features.csv')
weather_pred

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,287.150,288.150,1028,54,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178392,2018-12-31 20:00:00+01:00,Seville,285.760,285.150,286.150,1029,62,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178393,2018-12-31 21:00:00+01:00,Seville,285.150,285.150,285.150,1028,58,4,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178394,2018-12-31 22:00:00+01:00,Seville,284.150,284.150,284.150,1029,57,4,60,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178395,2018-12-31 23:00:00+01:00,Seville,283.970,282.150,285.150,1029,70,3,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [3]:

#take a random sample of 20,000 rows
weather_pred=weather_pred.sample(n=20000, random_state=1)

# DataPreprocessing

    1. Extracting date/time/month/year/hour/day/weekday/quarter

In [4]:
weather_pred['date']=pd.to_datetime(weather_pred['dt_iso'].str[:10])
weather_pred['time']=pd.to_datetime(weather_pred['dt_iso'].str[11:19])
weather_pred['month']=weather_pred['date'].dt.month
weather_pred['year']=weather_pred['date'].dt.year
weather_pred['hour']=weather_pred['time'].dt.hour
weather_pred['day']=weather_pred['date'].dt.day
weather_pred['weekday']=weather_pred['date'].dt.weekday
weather_pred['quarter']=weather_pred['date'].dt.quarter

In [5]:
weather_pred

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,...,weather_description,weather_icon,date,time,month,year,hour,day,weekday,quarter
26385,2018-01-01 19:00:00+01:00,Valencia,288.1500,288.1500,288.1500,1027,47,7,270,0.0,...,sky is clear,01n,2018-01-01,2024-03-20 19:00:00,1,2018,19,1,0,1
127962,2017-04-30 04:00:00+02:00,Barcelona,286.1500,285.1500,287.1500,1013,87,0,170,0.0,...,overcast clouds,04n,2017-04-30,2024-03-20 04:00:00,4,2017,4,30,6,2
110320,2015-05-04 05:00:00+02:00,Barcelona,289.5425,289.5425,289.5425,1014,96,3,57,0.0,...,broken clouds,04,2015-05-04,2024-03-20 05:00:00,5,2015,5,4,0,2
158994,2016-10-29 21:00:00+02:00,Seville,295.0120,295.0120,295.0120,1029,55,1,42,0.0,...,sky is clear,01n,2016-10-29,2024-03-20 21:00:00,10,2016,21,29,5,4
100892,2018-04-12 07:00:00+02:00,Bilbao,281.4900,280.1500,283.1500,1002,93,4,290,0.3,...,light rain,10n,2018-04-12,2024-03-20 07:00:00,4,2018,7,12,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25461,2017-11-24 07:00:00+01:00,Valencia,287.1500,287.1500,287.1500,1019,78,3,290,0.0,...,few clouds,02n,2017-11-24,2024-03-20 07:00:00,11,2017,7,24,4,4
133922,2018-01-02 03:00:00+01:00,Barcelona,284.6500,284.1500,285.1500,1023,62,6,290,0.0,...,sky is clear,01n,2018-01-02,2024-03-20 03:00:00,1,2018,3,2,1,1
67939,2018-08-20 02:00:00+02:00,Madrid,297.5800,297.1500,298.1500,1021,36,2,360,0.0,...,sky is clear,01n,2018-08-20,2024-03-20 02:00:00,8,2018,2,20,0,3
74470,2015-05-08 11:00:00+02:00,Bilbao,290.4030,290.4030,290.4030,1016,55,1,150,0.0,...,few clouds,02,2015-05-08,2024-03-20 11:00:00,5,2015,11,8,4,2
62361,2018-01-11 07:00:00+01:00,Madrid,276.4000,275.1500,278.1500,1020,75,3,240,0.0,...,scattered clouds,03n,2018-01-11,2024-03-20 07:00:00,1,2018,7,11,3,1

In [6]:
weather_pred.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 26385 to 62361
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt_iso               20000 non-null  object
 1   city_name            20000 non-null  object
 2   temp                 20000 non-null  float64
 3   temp_min             20000 non-null  float64
 4   temp_max             20000 non-null  float64
 5   pressure             20000 non-null  int64
 6   humidity             20000 non-null  int64
 7   wind_speed           20000 non-null  int64
 8   wind_deg             20000 non-null  int64
 9   rain_1h              20000 non-null  float64
 10  rain_3h              20000 non-null  float64
 11  snow_3h              20000 non-null  float64
 12  clouds_all           20000 non-null  int64
 13  weather_id           20000 non-null  int64
 14  weather_main         20000 non-null  object
 15  weather_description  20000 non-null  object
 16  weather_icon         20000 non-null  object
 17  date                 20000 non-null  datetime64[ns]
 18  time                 20000 non-null  datetime64[ns]
 19  month                20000 non-null  int32
 20  year                 20000 non-null  int32
 21  hour                 20000 non-null  int32
 22  day                  20000 non-null  int32
 23  weekday              20000 non-null  int32
 24  quarter              20000 non-null  int32
dtypes: datetime64[ns](2), float64(6), int32(6), int64(6), object(5)
memory usage: 3.5+ MB

In [7]:
# Prepare the data for analysis.
# Drop the columns that are not required for analysis.
weather_pred.drop(['dt_iso','city_name','weather_description','date','time'],axis=1,inplace=True)

In [8]:
weather_pred

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
26385,288.1500,288.1500,288.1500,1027,47,7,270,0.0,0.000,0.0,0,800,clear,01n,1,2018,19,1,0,1
127962,286.1500,285.1500,287.1500,1013,87,0,170,0.0,0.000,0.0,90,804,clouds,04n,4,2017,4,30,6,2
110320,289.5425,289.5425,289.5425,1014,96,3,57,0.0,0.000,0.0,58,803,clouds,04,5,2015,5,4,0,2
158994,295.0120,295.0120,295.0120,1029,55,1,42,0.0,0.000,0.0,0,800,clear,01n,10,2016,21,29,5,4
100892,281.4900,280.1500,283.1500,1002,93,4,290,0.3,0.000,0.0,75,500,rain,10n,4,2018,7,12,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25461,287.1500,287.1500,287.1500,1019,78,3,290,0.0,0.000,0.0,20,801,clouds,02n,11,2017,7,24,4,4
133922,284.6500,284.1500,285.1500,1023,62,6,290,0.0,0.000,0.0,0,800,clear,01n,1,2018,3,2,1,1
67939,297.5800,297.1500,298.1500,1021,36,2,360,0.0,0.000,0.0,0,800,clear,01n,8,2018,2,20,0,3
74470,290.4030,290.4030,290.4030,1016,55,1,150,0.0,0.085,0.0,12,801,clouds,02,5,2015,11,8,4,2
62361,276.4000,275.1500,278.1500,1020,75,3,240,0.0,0.000,0.0,40,802,clouds,03n,1,2018,7,11,3,1

    2. Check for null values.

In [9]:
weather_pred.isnull().sum()

temp            0
temp_min        0
temp_max        0
pressure        0
humidity        0
wind_speed      0
wind_deg        0
rain_1h         0
rain_3h         0
snow_3h         0
clouds_all      0
weather_id      0
weather_main    0
weather_icon    0
month           0
year            0
hour            0
day             0
weekday         0
quarter         0
dtype: int64

    3. Check for duplicates

In [10]:
weather_pred.duplicated().sum()

0

    4. Encoding the columns

In [11]:
# label encoding
le=LabelEncoder()
weather_pred['weather_main']=le.fit_transform(weather_pred['weather_main'])
weather_pred['weather_icon']=le.fit_transform(weather_pred['weather_icon'])
weather_pred

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
26385,288.1500,288.1500,288.1500,1027,47,7,270,0.0,0.000,0.0,0,800,0,2,1,2018,19,1,0,1
127962,286.1500,285.1500,287.1500,1013,87,0,170,0.0,0.000,0.0,90,804,1,11,4,2017,4,30,6,2
110320,289.5425,289.5425,289.5425,1014,96,3,57,0.0,0.000,0.0,58,803,1,9,5,2015,5,4,0,2
158994,295.0120,295.0120,295.0120,1029,55,1,42,0.0,0.000,0.0,0,800,0,2,10,2016,21,29,5,4
100892,281.4900,280.1500,283.1500,1002,93,4,290,0.3,0.000,0.0,75,500,7,16,4,2018,7,12,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25461,287.1500,287.1500,287.1500,1019,78,3,290,0.0,0.000,0.0,20,801,1,5,11,2017,7,24,4,4
133922,284.6500,284.1500,285.1500,1023,62,6,290,0.0,0.000,0.0,0,800,0,2,1,2018,3,2,1,1
67939,297.5800,297.1500,298.1500,1021,36,2,360,0.0,0.000,0.0,0,800,0,2,8,2018,2,20,0,3
74470,290.4030,290.4030,290.4030,1016,55,1,150,0.0,0.085,0.0,12,801,1,3,5,2015,11,8,4,2
62361,276.4000,275.1500,278.1500,1020,75,3,240,0.0,0.000,0.0,40,802,1,8,1,2018,7,11,3,1

    5.  Removing Outliers

In [12]:
# Remove the outliers.
z=np.abs(zscore(weather_pred))
z

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
26385,0.186548,0.028462,0.343705,0.008271,0.973646,1.988401,0.885097,0.194370,0.076113,0.018761,0.815728,0.367488,0.598264,0.676867,1.597009,1.336529,1.095423,1.670489,1.485527,1.348524
127962,0.435173,0.404455,0.459683,0.010211,0.844167,1.078125,0.027970,0.194370,0.076113,0.018761,2.103934,0.404316,0.159348,0.897852,0.729313,0.440462,1.089916,1.612594,1.506873,0.455136
110320,0.013443,0.146062,0.182205,0.010072,1.253175,0.236101,0.940584,0.194370,0.076113,0.018761,1.065832,0.395109,0.159348,0.547915,0.440081,1.351673,0.944227,1.330860,1.485527,0.455136
158994,0.666484,0.831561,0.452137,0.007994,0.610083,0.640050,1.069153,0.194370,0.076113,0.018761,0.815728,0.367488,0.598264,0.676867,1.006079,0.455605,1.386802,1.499384,1.008140,1.331639
100892,1.014468,1.031111,0.923595,0.011735,1.116839,0.674176,1.056523,0.575563,0.076113,0.018761,1.617324,2.394684,2.474145,1.772696,0.729313,1.336529,0.652848,0.425182,0.010673,0.455136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25461,0.310860,0.153793,0.459683,0.009380,0.435159,0.236101,1.056523,0.194370,0.076113,0.018761,0.166914,0.376695,0.159348,0.151960,1.295311,0.440462,0.652848,0.933335,0.509406,1.331639
133922,0.621641,0.529786,0.691639,0.008826,0.291966,1.550326,1.056523,0.194370,0.076113,0.018761,0.815728,0.367488,0.598264,0.676867,1.597009,1.336529,1.235605,1.557280,0.986794,1.348524
67939,0.985719,1.099519,0.816077,0.009103,1.473544,0.201974,1.656512,0.194370,0.076113,0.018761,0.815728,0.367488,0.598264,0.676867,0.427615,1.336529,1.381295,0.480496,1.485527,0.438251
74470,0.093528,0.253909,0.082406,0.009795,0.610083,0.640050,0.143456,0.194370,18.372859,0.018761,0.426439,0.376695,0.159348,0.501898,0.440081,1.351673,0.070091,0.878021,0.509406,0.455136
62361,1.647219,1.657767,1.503486,0.009241,0.298823,0.236101,0.627959,0.194370,0.076113,0.018761,0.481900,0.385902,0.159348,0.372946,1.597009,1.336529,0.652848,0.538392,0.010673,1.348524

In [13]:
threshold=3
print(np.where(z>3))

weather_pred_new=weather_pred[(z<3).all(axis=1)]
weather_pred_new

(array([    8,    51,    58,    87,   127,   149,   162,   173,   182,
         191,   224,   224,   335,   358,   362,   380,   380,   411,
         417,   445,   445,   445,   454,   469,   479,   507,   562,
         594,   609,   633,   638,   650,   677,   721,   746,   801,
         809,   813,   818,   825,   827,   830,   830,   830,   841,
         841,   875,   880,   882,   913,   932,   939,   954,   961,
         961,   975,  1057,  1065,  1069,  1074,  1114,  1169,  1173,
        1187,  1187,  1234,  1252,  1265,  1274,  1298,  1337,  1379,
        1400,  1400,  1407,  1415,  1494,  1498,  1588,  1593,  1593,
        1649,  1677,  1689,  1711,  1721,  1725,  1749,  1776,  1790,
        1803,  1803,  1808,  1817,  1837,  1853,  1939,  1973,  1979,
        2017,  2048,  2048,  2080,  2084,  2097,  2129,  2169,  2245,
        2256,  2256,  2257,  2277,  2303,  2316,  2347,  2354,  2371,
        2379,  2437,  2545,  2545,  2588,  2588,  2672,  2674,  2674,
        2699,  2721,  2724,  2724,  2732,  2776,  2784,  2790,  2812,
        2897,  2914,  2980,  2983,  2988,  3081,  3087,  3087,  3087,
        3154,  3183,  3192,  3226,  3228,  3242,  3242,  3284,  3297,
        3313,  3343,  3382,  3397,  3420,  3518,  3518,  3530,  3530,
        3560,  3566,  3575,  3575,  3593,  3646,  3733,  3733,  3773,
        3773,  3774,  3798,  3801,  3801,  3832,  3876,  3883,  3888,
        3927,  3955,  3955,  3955,  4004,  4004,  4005,  4006,  4006,
        4012,  4021,  4045,  4096,  4120,  4174,  4179,  4182,  4235,
        4266,  4279,  4333,  4346,  4346,  4376,  4470,  4488,  4488,
        4525,  4542,  4544,  4549,  4557,  4571,  4629,  4635,  4656,
        4674,  4679,  4710,  4710,  4711,  4720,  4722,  4776,  4813,
        4819,  4867,  4884,  4949,  4996,  5002,  5044,  5110,  5112,
        5143,  5211,  5212,  5258,  5266,  5292,  5300,  5308,  5314,
        5385,  5395,  5464,  5468,  5478,  5478,  5489,  5493,  5498,
        5516,  5516,  5539,  5547,  5547,  5604,  5612,  5661,  5708,
        5725,  5743,  5805,  5847,  5850,  5859,  5859,  5891,  5898,
        5898,  5971,  5985,  6045,  6045,  6107,  6172,  6204,  6204,
        6211,  6211,  6251,  6253,  6253,  6347,  6347,  6366,  6370,
        6392,  6395,  6417,  6487,  6542,  6542,  6545,  6555,  6562,
        6562,  6573,  6594,  6626,  6700,  6769,  6812,  6812,  6836,
        6839,  6845,  6850,  6875,  6914,  6951,  6951,  6992,  6992,
        7013,  7041,  7043,  7052,  7054,  7054,  7054,  7057,  7063,
        7063,  7153,  7175,  7183,  7209,  7226,  7234,  7234,  7241,
        7262,  7273,  7293,  7319,  7319,  7321,  7358,  7441,  7455,
        7461,  7461,  7498,  7498,  7524,  7525,  7550,  7577,  7577,
        7602,  7672,  7675,  7764,  7764,  7872,  7874,  7925,  7925,
        7928,  7928,  7932,  7942,  7961,  7962,  7962,  8003,  8005,
        8009,  8010,  8034,  8053,  8058,  8058,  8058,  8094,  8094,
        8106,  8112,  8112,  8149,  8149,  8156,  8166,  8204,  8275,
        8279,  8283,  8300,  8300,  8308,  8308,  8394,  8394,  8417,
        8457,  8468,  8526,  8526,  8591,  8603,  8607,  8664,  8687,
        8697,  8715,  8715,  8718,  8736,  8745,  8756,  8775,  8917,
        8950,  8960,  8960,  8963,  8964,  8998,  9020,  9050,  9050,
        9050,  9061,  9061,  9071,  9084,  9094,  9105,  9109,  9110,
        9120,  9133,  9133,  9160,  9231,  9248,  9284,  9330,  9350,
        9380,  9380,  9420,  9428,  9451,  9571,  9579,  9626,  9626,
        9696,  9696,  9727,  9737,  9754,  9754,  9754,  9785,  9795,
        9804,  9836,  9851,  9877,  9900,  9907,  9915,  9985,  9988,
       10007, 10021, 10041, 10097, 10097, 10097, 10113, 10113, 10122,
       10148, 10170, 10179, 10195, 10257, 10299, 10302, 10305, 10326,
       10418, 10424, 10424, 10456, 10457, 10457, 10466, 10466, 10466,
       10508, 10527, 10548, 10587, 10598, 10598, 10611, 10637, 10660,
       10684, 10685, 10700, 10720, 10788, 10807, 10829, 10851, 10884,
       10884, 10915, 10919, 10931, 10933, 10940, 11010, 11072, 11072,
       11089, 11109, 11111, 11121, 11133, 11133, 11133, 11140, 11156,
       11169, 11195, 11201, 11205, 11223, 11232, 11345, 11345, 11374,
       11427, 11434, 11455, 11573, 11608, 11627, 11667, 11720, 11736,
       11750, 11763, 11763, 11790, 11790, 11793, 11807, 11807, 11815,
       11815, 11870, 11947, 11947, 11968, 12005, 12005, 12008, 12044,
       12063, 12079, 12138, 12150, 12179, 12203, 12211, 12218, 12278,
       12278, 12300, 12300, 12309, 12315, 12370, 12411, 12411, 12452,
       12461, 12462, 12464, 12480, 12530, 12536, 12536, 12554, 12573,
       12646, 12646, 12688, 12688, 12732, 12739, 12878, 12921, 12923,
       12958, 12981, 12981, 12981, 12993, 13022, 13024, 13036, 13037,
       13061, 13075, 13075, 13134, 13147, 13147, 13156, 13159, 13166,
       13176, 13215, 13238, 13238, 13273, 13278, 13278, 13279, 13303,
       13311, 13311, 13374, 13374, 13381, 13381, 13417, 13442, 13442,
       13460, 13467, 13478, 13488, 13506, 13514, 13534, 13555, 13590,
       13590, 13606, 13671, 13671, 13704, 13704, 13704, 13733, 13771,
       13810, 13822, 13856, 13915, 13923, 13946, 13950, 13950, 13964,
       14029, 14071, 14071, 14073, 14073, 14122, 14170, 14170, 14209,
       14210, 14228, 14276, 14280, 14290, 14313, 14317, 14325, 14341,
       14395, 14410, 14423, 14450, 14479, 14481, 14481, 14544, 14597,
       14604, 14604, 14620, 14625, 14660, 14730, 14731, 14731, 14742,
       14753, 14766, 14767, 14767, 14785, 14818, 14857, 14881, 14955,
       15013, 15043, 15043, 15079, 15098, 15103, 15104, 15106, 15115,
       15128, 15128, 15162, 15199, 15208, 15208, 15281, 15301, 15403,
       15409, 15423, 15428, 15439, 15503, 15523, 15529, 15534, 15585,
       15585, 15596, 15596, 15626, 15646, 15652, 15652, 15652, 15694,
       15759, 15770, 15813, 15838, 15838, 15845, 15853, 15854, 15902,
       15903, 15924, 15924, 15961, 15966, 15970, 15970, 15999, 15999,
       16041, 16089, 16100, 16120, 16153, 16153, 16156, 16179, 16213,
       16223, 16224, 16329, 16329, 16378, 16475, 16517, 16552, 16560,
       16560, 16560, 16599, 16611, 16636, 16661, 16661, 16669, 16672,
       16695, 16704, 16729, 16737, 16751, 16751, 16754, 16754, 16761,
       16764, 16777, 16789, 16807, 16820, 16820, 16823, 16903, 16946,
       16981, 16988, 16990, 16990, 16991, 16999, 17010, 17029, 17034,
       17046, 17053, 17093, 17136, 17139, 17188, 17191, 17199, 17228,
       17231, 17277, 17277, 17288, 17296, 17300, 17307, 17394, 17429,
       17434, 17480, 17492, 17506, 17517, 17521, 17540, 17592, 17630,
       17635, 17677, 17682, 17722, 17722, 17732, 17732, 17745, 17779,
       17801, 17834, 17839, 17878, 17906, 17908, 17959, 17965, 17965,
       17969, 17979, 17983, 17989, 17991, 17991, 17994, 18057, 18057,
       18130, 18130, 18138, 18156, 18163, 18163, 18217, 18217, 18252,
       18264, 18298, 18303, 18307, 18307, 18310, 18320, 18320, 18367,
       18371, 18380, 18382, 18394, 18459, 18469, 18496, 18497, 18506,
       18518, 18531, 18533, 18546, 18568, 18579, 18579, 18616, 18627,
       18643, 18689, 18723, 18737, 18746, 18818, 18851, 18859, 18859,
       18906, 18915, 18936, 18988, 18991, 18991, 19035, 19038, 19055,
       19058, 19065, 19098, 19144, 19176, 19195, 19203, 19217, 19217,
       19231, 19243, 19293, 19361, 19368, 19368, 19375, 19376, 19396,
       19442, 19444, 19465, 19465, 19492, 19527, 19528, 19532, 19541,
       19557, 19581, 19591, 19632, 19643, 19643, 19654, 19654, 19728,
       19795, 19820, 19872, 19903, 19933, 19934, 19947, 19947, 19956,
       19971, 19998], dtype=int64), array([11,  7,  5,  7,  8,  5, 11,  5,  5,  5, 11, 12, 11,  5, 11, 11, 12,
        5, 11,  5, 11, 12,  8,  7,  5,  5, 11, 12,  7, 11,  7, 11,  8,  8,
        7, 12, 11, 11,  1,  8,  8,  7, 11, 12, 11, 12,  5, 11,  8,  5,  5,
       11,  8, 11, 12,  5, 11,  5,  8,  5, 11,  8,  7, 11, 12,  7,  8,  7,
        7, 11,  8,  5, 11, 12,  7,  8,  7,  8, 11,  0,  1,  7,  8, 11,  5,
        8,  7,  9,  7, 12, 11, 12,  5,  5, 11,  8,  8,  8,  5,  8, 11, 12,
        7,  5,  8, 11, 11,  7, 11, 12,  7,  7, 11,  5,  7,  7, 12, 11,  8,
       11, 12, 11, 12,  5, 11, 12, 11, 11, 11, 12, 11, 11, 11,  2,  7,  7,
       11, 11, 11, 11,  7,  7, 11, 12,  7,  5, 12,  5, 11,  0,  2,  7, 11,
        5,  5,  8,  5,  8, 11, 12, 11, 12, 12,  7, 11, 12,  5,  7, 11, 12,
        0,  1,  2, 11, 11, 12,  5,  7,  5,  7,  8,  7, 11, 12, 11, 12,  7,
       11, 12,  5, 11,  5,  8,  5,  5,  7,  8, 11, 11,  5,  7,  3,  4,  7,
       12, 11, 12,  8, 11,  5,  8,  5, 11,  5,  5,  5,  8,  7,  0,  1,  7,
       11, 11,  8,  7,  7,  7,  7,  7,  7, 11,  8,  8,  8,  7, 11, 11,  8,
       11,  4,  5,  5, 11, 11,  1,  5,  2, 11, 12,  5, 12,  7,  3,  4,  7,
       11, 12,  5,  8,  5,  7,  7,  8, 11,  7,  5, 11, 12,  7, 11, 12, 11,
        7, 11, 12,  8,  8, 11, 12,  0,  1, 11, 11, 12,  3,  4, 12,  5, 12,
        7,  8,  8, 11, 12,  7, 11,  0,  1,  5,  7,  8, 11, 11, 11, 12, 12,
        8,  5,  8, 11, 12, 11, 12, 11, 12,  5,  7,  8,  7,  5, 11, 12,  8,
       11, 12,  8,  7,  7,  5,  2, 11, 12,  1, 11,  7,  7, 11, 12,  5,  8,
       11, 11, 11, 12,  7,  9,  5, 11,  8, 11, 12,  7,  2, 11, 11, 12,  5,
       11, 11, 12, 11, 12, 11,  5,  2,  0,  1,  7,  7,  7, 11,  8,  8,  7,
       11, 12, 11, 12,  8, 11, 12,  7,  9,  8,  7,  7,  8,  7,  5, 11, 12,
       11, 12,  3,  4,  8,  8,  2,  0,  2,  5,  7,  5, 11,  5,  8, 11, 12,
        5, 11,  8, 11, 11,  8, 12, 11, 12, 12,  5,  7,  8,  7, 11, 12, 11,
       12,  7,  9,  5,  5, 11,  7,  9, 11, 12,  7,  2, 11, 11,  5,  8, 11,
       12, 11,  2,  5,  7,  5, 11, 12,  7,  9,  9,  7,  7, 11, 12,  7, 11,
        7,  5,  7,  8,  7,  8,  5, 11, 11, 11,  8,  2,  7, 11, 12, 11, 12,
        5,  7,  8,  2,  5,  5,  8,  7, 11,  5,  2, 11, 12,  5, 11, 12,  7,
       11, 12,  8, 12, 11, 12, 11, 12,  7, 11,  7,  8,  7,  8, 11,  8, 11,
        7,  7, 11, 12,  7,  5,  2,  5,  5,  8, 11, 12, 11,  8, 11,  7,  5,
       11, 12,  8,  8,  8,  7,  8, 11,  2, 11, 11, 12,  5, 11, 11,  5,  2,
        5,  8, 11,  8,  5,  8, 11, 12, 11, 12, 11,  0,  1, 11, 12,  8, 11,
       12, 12, 11, 12,  8,  4, 12,  7,  7, 11,  8, 11,  8,  1, 11, 12, 11,
       12,  2, 11,  5, 11, 12, 12,  7,  8,  5,  8,  8, 11, 12, 11,  7, 11,
       12, 11, 12,  7,  5,  7, 12,  7,  8,  7, 11, 12,  7, 11,  7, 11, 11,
        7, 11, 12,  7, 11, 12,  7, 11, 11, 12,  5, 11, 12, 11, 11, 12, 11,
       11, 11, 12, 11, 12, 11, 12,  5, 11, 12, 11,  8,  8,  5, 11,  8,  7,
       11, 11, 12,  8, 11, 12,  7, 11, 12,  8,  5,  5,  7,  5,  9,  7,  5,
       11, 12,  7,  5, 11, 12,  5, 11, 11, 11, 12,  8,  7,  9,  5, 12, 11,
        8, 11, 12,  7,  2,  7,  7, 12,  5,  7,  9,  5,  8, 11, 12,  8,  5,
        7, 11, 11, 12,  5,  5,  2, 11, 12,  8,  7, 11,  7,  7, 11, 11, 12,
        5, 11, 11, 11,  7, 11, 11, 12,  5,  8, 11, 12,  7, 11,  8,  2, 11,
        7,  7,  8,  5,  5,  7, 11, 12, 11, 12, 11,  5,  5, 11, 12,  5,  2,
        8,  5,  3,  4, 11,  7, 11,  5, 11, 11, 12,  8,  7, 11, 12,  7,  9,
       11,  0,  7, 11, 11, 12,  8, 12,  7, 11,  8, 11, 12, 11, 11, 11,  7,
        5, 11, 12,  5, 11, 11, 11, 12,  7,  7,  9,  5, 11, 11, 11, 12, 11,
       12, 12,  5,  5, 11,  8, 11, 12,  8,  5, 12, 11, 11, 11, 12,  5, 11,
        5, 11,  8, 11, 12, 11, 11,  2,  5,  8, 11,  8, 11, 11, 12, 11, 11,
        9,  7, 11, 11,  7, 11, 11,  7, 11, 11,  7,  8,  5,  5, 12,  5,  5,
       11, 11, 12,  8,  8, 11, 11,  5,  5, 11, 12, 11, 11, 12,  5,  7,  5,
        8, 11, 12, 11, 11, 12, 11, 12,  8, 12, 11, 12, 11, 12,  8,  8,  7,
        8, 11, 12,  5, 11, 12, 12,  2,  7,  8,  5, 11, 11, 11,  8,  8, 11,
        7,  7,  5,  5, 11, 12,  5,  8,  7,  7,  7,  7, 11, 11, 11, 11, 12,
        7,  8,  8,  7, 11, 12, 11,  7,  7,  7,  2,  7, 12, 11, 11, 11, 11,
       12,  5, 11,  7,  8, 11, 12, 11,  7,  7,  8, 11, 11, 12,  5,  5, 11,
        7,  8,  5, 11,  8, 11, 11, 12,  7,  9, 11,  2, 11,  5,  5,  8,  5,
       11, 12,  7,  8,  8], dtype=int64))

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
26385,288.1500,288.1500,288.1500,1027,47,7,270,0.0,0.0,0.0,0,800,0,2,1,2018,19,1,0,1
127962,286.1500,285.1500,287.1500,1013,87,0,170,0.0,0.0,0.0,90,804,1,11,4,2017,4,30,6,2
110320,289.5425,289.5425,289.5425,1014,96,3,57,0.0,0.0,0.0,58,803,1,9,5,2015,5,4,0,2
158994,295.0120,295.0120,295.0120,1029,55,1,42,0.0,0.0,0.0,0,800,0,2,10,2016,21,29,5,4
100892,281.4900,280.1500,283.1500,1002,93,4,290,0.3,0.0,0.0,75,500,7,16,4,2018,7,12,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126651,290.1500,289.1500,291.1500,1020,41,4,260,0.0,0.0,0.0,0,800,0,1,3,2017,12,7,1,1
25461,287.1500,287.1500,287.1500,1019,78,3,290,0.0,0.0,0.0,20,801,1,5,11,2017,7,24,4,4
133922,284.6500,284.1500,285.1500,1023,62,6,290,0.0,0.0,0.0,0,800,0,2,1,2018,3,2,1,1
67939,297.5800,297.1500,298.1500,1021,36,2,360,0.0,0.0,0.0,0,800,0,2,8,2018,2,20,0,3
62361,276.4000,275.1500,278.1500,1020,75,3,240,0.0,0.0,0.0,40,802,1,8,1,2018,7,11,3,1

    6. Removing Skewness

In [14]:
weather_pred_new = pd.DataFrame(power_transform(weather_pred_new, method='yeo-johnson'), columns=weather_pred.columns)
weather_pred_new

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
0,-0.153266,0.003312,-0.306449,0.937768,-1.013988,1.855301,0.856624,-0.325423,-0.065902,-0.017683,-1.023142,0.325739,-0.978703,-0.560682,-1.720988,1.336498,1.063023,-1.889866,-1.608863,-1.402464
1,-0.409206,-0.379090,-0.428623,-0.390090,0.874785,-1.834663,0.247154,-0.325423,-0.065902,-0.017683,1.342769,0.633095,0.614478,1.139663,-0.698546,0.424104,-1.064820,1.494820,1.407157,-0.429306
2,0.021851,0.177095,-0.138790,-0.303986,1.368720,0.555521,-0.707094,-0.325423,-0.065902,-0.017683,1.136840,0.553568,0.614478,0.937163,-0.394557,-1.357162,-0.890047,-1.382454,-1.608863,-0.429306
3,0.686167,0.837841,0.493057,1.150500,-0.680478,-0.673171,-0.886543,-0.325423,-0.065902,-0.017683,-1.023142,0.325739,-0.978703,-0.560682,0.984078,-0.473707,1.301735,1.402707,0.995309,1.286352
4,-1.026554,-1.041748,-0.932636,-1.258058,1.201534,0.966004,0.965171,3.072265,-0.065902,-0.017683,1.257681,-2.672126,1.764315,1.510333,-0.698546,1.336498,-0.563426,-0.338264,0.099688,-0.429306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19189,0.097471,0.128346,0.051258,0.239983,-1.247461,0.966004,0.800971,-0.325423,-0.065902,-0.017683,-1.023142,0.325739,-0.978703,-1.134292,-1.017153,0.424104,0.165850,-0.958120,-0.955030,-1.402464
19190,-0.280576,-0.122928,-0.428623,0.145977,0.404405,0.555521,0.965171,-0.325423,-0.065902,-0.017683,0.628497,0.399929,0.614478,0.337007,1.239977,0.424104,-0.563426,0.928596,0.561491,1.286352
19191,-0.604662,-0.509045,-0.677517,0.530363,-0.369250,1.599187,0.965171,-0.325423,-0.065902,-0.017683,-1.023142,0.325739,-0.978703,-0.560682,-1.720988,1.336498,-1.249904,-1.705993,-0.955030,-1.402464
19192,0.985677,1.087016,0.837319,0.335370,-1.430293,0.037166,1.320449,-0.325423,-0.065902,-0.017683,-1.023142,0.325739,-0.978703,-0.560682,0.455129,1.336498,-1.448798,0.530192,-1.608863,0.457950
19193,-1.736360,-1.737946,-1.599006,0.239983,0.253075,0.555521,0.686645,-0.325423,-0.065902,-0.017683,0.960570,0.475859,0.614478,0.817396,-1.720988,1.336498,-0.563426,-0.456035,0.099688,-1.402464

## Feature Selection

    Train/Test Splitting the Data

In [15]:
# columns: temp	temp_min, temp_max, pressure, humidity, wind_speed, wind_deg, rain_1h, rain_3h, snow_3h,clouds_all,	weather_id,weather_main,weather_icon,month,	year,hour,day,weekday,quarter

X= weather_pred_new.drop('temp',axis=1)
y= weather_pred_new['temp']

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

    Best feature Selection
        Using Random Forest Regressor

In [17]:
k=5
model = RandomForestRegressor()
model.fit(X, y)
importances = model.feature_importances_
selected_feature_indices = np.argsort(importances)[-k:]
selected_features = X.columns[selected_feature_indices]

In [18]:
selected_features

Index(['wind_deg', 'hour', 'humidity', 'temp_max', 'temp_min'], dtype='object')

# Model Training

In [19]:
X_train = X_train[selected_features]
X_test = X_test[selected_features]

In [20]:
# X_train

In [21]:
# X_test

    Apply Decision Tree

In [22]:
# apply decision tree
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
y_pred_dt

array([ 0.2209318 , -0.83123352,  1.16505291, ..., -2.67795128,
       -0.09009958,  0.00917092])

    Model Evaluation: Decision Tree

In [23]:
# CALCULATE ACCURACY
print('Accuracy score:',dt.score(X_test,y_test))
print('R2 score:',r2_score(y_test,y_pred_dt))
print('Mean Absolute Error:',mean_absolute_error(y_test,y_pred_dt))
print('Mean Squared Error:',mean_squared_error(y_test,y_pred_dt))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,y_pred_dt)))

Accuracy score: 0.9965594324301363
R2 score: 0.9965594324301363
Mean Absolute Error: 0.027894147427987917
Mean Squared Error: 0.0034264021637577507
Root Mean Squared Error: 0.05853547782121327

    Decision Tree (Optimised)

In [24]:
dt_op = DecisionTreeRegressor()

# Define the hyperparameter grid
parameters = {
    'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'min_samples_split': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'criterion': ['squared_error', 'friedman_mse', 'poisson']
}

# Create the GridSearchCV object
grid_search = GridSearchCV(estimator=dt_op, param_grid=parameters, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)

# Get the best parameters and best model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Use the best model to make predictions
y_pred_dt_op = best_model.predict(X_test)

In [25]:
# applying  decision tree with best parameters
dt_op = DecisionTreeRegressor(criterion='squared_error', max_depth=9, min_samples_leaf=1, min_samples_split=2)
dt_op.fit(X_train, y_train)
y_pred_dt_op = dt_op.predict(X_test)
y_pred_dt_op

array([ 0.22083791, -0.77526026,  1.16235876, ..., -2.597009  ,
       -0.14896655,  0.01536798])

In [26]:

# CALCULATE ACCURACY
print('Accuracy score:',dt_op.score(X_test,y_test))
print('R2 score:',r2_score(y_test,y_pred_dt_op))
print('Mean Absolute Error:',mean_absolute_error(y_test,y_pred_dt_op))
print('Mean Squared Error:',mean_squared_error(y_test,y_pred_dt_op))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,y_pred_dt_op)))

Accuracy score: 0.9969516612570856
R2 score: 0.9969516612570856
Mean Absolute Error: 0.028518531866712934
Mean Squared Error: 0.0030357882100837514
Root Mean Squared Error: 0.05509798735057163

# Creating Pickle files

In [27]:
# Creating pickle files for Decision Tree Regressor (optimised)
filename_dt = 'weather_pred_dt.pkl'
pickle.dump(dt_op, open(filename_dt, 'wb'))

In [28]:
# load the model
loaded_model_dt = pickle.load(open(filename_dt, 'rb'))
result_dt = loaded_model_dt.score(X_test, y_test)
print(result_dt)

0.9969516612570856